<a href="https://colab.research.google.com/github/Igorps023/SegurancaPublicaSSP/blob/main/EDA_Dados_Abertos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# !pip install basedosdados # rode para instalar no Python/Jupyter
# import basedosdados as bd

In [ ]:
# # Para carregar o dado direto no pandas
# df = bd.read_table(dataset_id='br_sp_gov_ssp',
# table_id='ocorrencias_registradas',
# billing_project_id="174045002264")

Downloading: 100%|██████████| 153876/153876 [00:21<00:00, 7008.80rows/s]

In [ ]:
# # Caminho salvar arquivo
# file_path = '/content/dados_abertos_ssp_sp_1252.csv'

In [ ]:
# df.to_csv(file_path, index=False, encoding='1252')

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/dados_ssp_sp.csv')

In [ ]:
df.shape

(153876, 27)

In [ ]:
df.columns

Index(['ano', 'mes', 'id_municipio', 'regiao_ssp', 'homicidio_doloso',
       'numero_de_vitimas_em_homicidio_doloso',
       'homicidio_doloso_por_acidente_de_transito',
       'numero_de_vitimas_em_homicidio_doloso_por_acidente_de_transito',
       'homicidio_culposo_por_acidente_de_transito',
       'homicidio_culposo_outros', 'tentativa_de_homicidio',
       'lesao_corporal_seguida_de_morte', 'lesao_corporal_dolosa',
       'lesao_corporal_culposa_por_acidente_de_transito',
       'lesao_corporal_culposa_outras', 'latrocinio',
       'numero_de_vitimas_em_latrocinio', 'total_de_estupro', 'estupro',
       'estupro_de_vulneravel', 'total_de_roubo_outros', 'roubo_outros',
       'roubo_de_veiculo', 'roubo_a_banco', 'roubo_de_carga', 'furto_outros',
       'furto_de_veiculo'],
      dtype='object')

In [ ]:
df = df.sort_values(by=['ano', 'mes', 'regiao_ssp', 'id_municipio'], ascending=[True, True, True, True])

In [ ]:
df

,ano,mes,id_municipio,regiao_ssp,homicidio_doloso,numero_de_vitimas_em_homicidio_doloso,homicidio_doloso_por_acidente_de_transito,numero_de_vitimas_em_homicidio_doloso_por_acidente_de_transito,homicidio_culposo_por_acidente_de_transito,homicidio_culposo_outros,...,total_de_estupro,estupro,estupro_de_vulneravel,total_de_roubo_outros,roubo_outros,roubo_de_veiculo,roubo_a_banco,roubo_de_carga,furto_outros,furto_de_veiculo
7368,2002,1,3501103,Araçatuba,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,NaN,0.0,NaN,0.0,0.0,0.0,1.0,0.0
7248,2002,1,3502101,Araçatuba,1.0,1.0,0.0,0.0,1.0,0.0,...,0.0,NaN,NaN,3.0,NaN,0.0,0.0,0.0,78.0,0.0
7152,2002,1,3502804,Araçatuba,3.0,3.0,0.0,0.0,0.0,0.0,...,1.0,NaN,NaN,88.0,NaN,6.0,0.0,0.0,404.0,25.0
6960,2002,1,3504206,Araçatuba,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,NaN,1.0,NaN,0.0,0.0,0.0,3.0,1.0
6936,2002,1,3504404,Araçatuba,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,NaN,0.0,NaN,0.0,0.0,0.0,13.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108911,2021,12,3550704,São José dos Campos,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108719,2021,12,3552007,São José dos Campos,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108419,2021,12,3554102,São José dos Campos,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108311,2021,12,3554805,São José dos Campos,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108215,2021,12,3555406,São José dos Campos,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
filtro_df = df[ (df['ano'] == 2002) & (df['regiao_ssp'] == 'Araçatuba') & (df['id_municipio'] == 3501103)  ]

In [ ]:
outras_colunas = filtro_df.columns[4:]
outras_colunas

Index(['homicidio_doloso', 'numero_de_vitimas_em_homicidio_doloso',
       'homicidio_doloso_por_acidente_de_transito',
       'numero_de_vitimas_em_homicidio_doloso_por_acidente_de_transito',
       'homicidio_culposo_por_acidente_de_transito',
       'homicidio_culposo_outros', 'tentativa_de_homicidio',
       'lesao_corporal_seguida_de_morte', 'lesao_corporal_dolosa',
       'lesao_corporal_culposa_por_acidente_de_transito',
       'lesao_corporal_culposa_outras', 'latrocinio',
       'numero_de_vitimas_em_latrocinio', 'total_de_estupro', 'estupro',
       'estupro_de_vulneravel', 'total_de_roubo_outros', 'roubo_outros',
       'roubo_de_veiculo', 'roubo_a_banco', 'roubo_de_carga', 'furto_outros',
       'furto_de_veiculo'],
      dtype='object')

In [ ]:
# pivotar = filtro_df.melt(id_vars=['ano', 'mes', 'regiao_ssp','id_municipio'], var_name='crimes', value_vars='value' )
# pivotar.sort_values(by=['value'], ascending=[False])
# pivotar.shape

In [ ]:
outras_colunas = filtro_df.columns[4:]
melted_df = filtro_df.melt(id_vars=['ano', 'mes', 'regiao_ssp', 'id_municipio'], value_vars=outras_colunas, var_name='crime', value_name='value')
melted_df.sort_values(by=['value'], ascending=[False], inplace=True)
print(melted_df.shape)

(276, 6)

In [ ]:
melted_df

      ano  mes regiao_ssp  id_municipio         crime  value
262  2002   11  Araçatuba       3501103  furto_outros    6.0
260  2002    9  Araçatuba       3501103  furto_outros    6.0
261  2002   10  Araçatuba       3501103  furto_outros    6.0
263  2002   12  Araçatuba       3501103  furto_outros    5.0
253  2002    2  Araçatuba       3501103  furto_outros    5.0
..    ...  ...        ...           ...           ...    ...
211  2002    8  Araçatuba       3501103  roubo_outros    NaN
212  2002    9  Araçatuba       3501103  roubo_outros    NaN
213  2002   10  Araçatuba       3501103  roubo_outros    NaN
214  2002   11  Araçatuba       3501103  roubo_outros    NaN
215  2002   12  Araçatuba       3501103  roubo_outros    NaN

[276 rows x 6 columns]

# PySpark

In [1]:
# Desmontar o Google Drive (se já estiver montado)
from google.colab import drive
drive.flush_and_unmount()

# Montar o Google Drive novamente
drive.mount('/content/drive')

Drive not mounted, so nothing to flush and unmount.
Mounted at /content/drive

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 2.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=ae5dff8ed720d604c28febc688c2520e8424b09a8645e5ec2ab50b45cbcdba76
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [27]:
#importando bibliotecas
import os
import sys
import pytz
import numpy as np
import datetime
import time
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext
from pyspark.sql.functions import *
from datetime import datetime
from datetime import timedelta
from datetime import date
from dateutil.relativedelta import relativedelta
from pyspark.sql.types import *
from pyspark.sql.functions import count, avg, col, expr, array, explode, asc, desc, min,avg,max,sum,count,stddev

In [3]:
spark = SparkSession.builder.appName("SSP").getOrCreate()

In [4]:
spark

In [5]:
#funcao freq
def Freq(pTabela,pColuna):

    qtd_total=pTabela.count()

    pTabela.registerTempTable("tab_input")
    frq = spark.sql(
            """
                select
                    {col},
                    count(*) as qtd_absoluto,
                    round(100*(count(*) / {tot}),2) as qtd_percentual
                from
                    tab_input
                group by
                    {col}
                order by
                    qtd_percentual DESC, {col}
            """.format(col=pColuna, tot=qtd_total))

    qtd=frq.count()
    print('Quantidade de dominios',qtd)
    if qtd > 500:
        frq.show(1000,truncate=False)
        return "Dominio muito granular"

    else:
        frq.show(qtd,truncate=False)
        print("volumetria total:",qtd_total)
        return 'Freq da coluna ' + pColuna;

In [6]:
### MOD_PER_FILE
file_1 = "dados_ssp_sp.csv"

In [7]:
full_path_raw_1 = file_1

In [8]:
df = os.path.join(full_path_raw_1)
df = spark.read.format("csv").load(df, header=True, inferSchema=True, sep=",")
df.registerTempTable("df")
df.count()

/usr/local/lib/python3.10/dist-packages/pyspark/sql/dataframe.py:329: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

153876

In [9]:
df.show(4)

+----+---+------------+-------------------+----------------+-------------------------------------+-----------------------------------------+--------------------------------------------------------------+------------------------------------------+------------------------+----------------------+-------------------------------+---------------------+-----------------------------------------------+-----------------------------+----------+-------------------------------+----------------+-------+---------------------+---------------------+------------+----------------+-------------+--------------+------------+----------------+
| ano|mes|id_municipio|         regiao_ssp|homicidio_doloso|numero_de_vitimas_em_homicidio_doloso|homicidio_doloso_por_acidente_de_transito|numero_de_vitimas_em_homicidio_doloso_por_acidente_de_transito|homicidio_culposo_por_acidente_de_transito|homicidio_culposo_outros|tentativa_de_homicidio|lesao_corporal_seguida_de_morte|lesao_corporal_dolosa|lesao_corporal_culposa_por_acidente_de_transito|lesao_corporal_culposa_outras|latrocinio|numero_de_vitimas_em_latrocinio|total_de_estupro|estupro|estupro_de_vulneravel|total_de_roubo_outros|roubo_outros|roubo_de_veiculo|roubo_a_banco|roubo_de_carga|furto_outros|furto_de_veiculo|
+----+---+------------+-------------------+----------------+-------------------------------------+-----------------------------------------+--------------------------------------------------------------+------------------------------------------+------------------------+----------------------+-------------------------------+---------------------+-----------------------------------------------+-----------------------------+----------+-------------------------------+----------------+-------+---------------------+---------------------+------------+----------------+-------------+--------------+------------+----------------+
|2002|  1|     3500105|Presidente Prudente|               0|                                    0|                                        0|                                                             0|                                         0|                       0|                     0|                              0|                   24|                                             13|                            2|         0|                              0|               0|   NULL|                 NULL|                    0|        NULL|               0|            0|             0|          21|               0|
|2002|  2|     3500105|Presidente Prudente|               0|                                    0|                                        0|                                                             0|                                         0|                       0|                     0|                              0|                   24|                                             15|                            2|         0|                              0|               0|   NULL|                 NULL|                    0|        NULL|               0|            0|             0|          32|               0|
|2002|  3|     3500105|Presidente Prudente|               0|                                    0|                                        0|                                                             0|                                         0|                       0|                     1|                              0|                   21|                                             13|                            5|         0|                              0|               0|   NULL|                 NULL|                    0|        NULL|               0|            0|             0|          36|               0|
|2002|  4|     3500105|Presidente Prudente|               0|                                    0|                                        0|                                                             0|                                         0|                       0|                     1|                              0|                   36|                                             13|                            1|         0|                              0|               0|   NULL|                 NULL|                    1|        NULL|               0|            0|             0|          45|               0|
+----+---+------------+-------------------+----------------+-------------------------------------+-----------------------------------------+--------------------------------------------------------------+------------------------------------------+------------------------+----------------------+-------------------------------+---------------------+-----------------------------------------------+-----------------------------+----------+-------------------------------+----------------+-------+---------------------+---------------------+------------+----------------+-------------+--------------+------------+----------------+
only showing top 4 rows

In [91]:
df_filtrado = df.filter( (col("ano") == 2019) & (col("regiao_ssp") == "Capital") & (col("mes") == 1) )# & (col("id_municipio") == "3501103") )

In [94]:
df_filtrado.count()

1

In [95]:
df_filtrado.show(12)

+----+---+------------+----------+----------------+-------------------------------------+-----------------------------------------+--------------------------------------------------------------+------------------------------------------+------------------------+----------------------+-------------------------------+---------------------+-----------------------------------------------+-----------------------------+----------+-------------------------------+----------------+-------+---------------------+---------------------+------------+----------------+-------------+--------------+------------+----------------+
| ano|mes|id_municipio|regiao_ssp|homicidio_doloso|numero_de_vitimas_em_homicidio_doloso|homicidio_doloso_por_acidente_de_transito|numero_de_vitimas_em_homicidio_doloso_por_acidente_de_transito|homicidio_culposo_por_acidente_de_transito|homicidio_culposo_outros|tentativa_de_homicidio|lesao_corporal_seguida_de_morte|lesao_corporal_dolosa|lesao_corporal_culposa_por_acidente_de_transito|lesao_corporal_culposa_outras|latrocinio|numero_de_vitimas_em_latrocinio|total_de_estupro|estupro|estupro_de_vulneravel|total_de_roubo_outros|roubo_outros|roubo_de_veiculo|roubo_a_banco|roubo_de_carga|furto_outros|furto_de_veiculo|
+----+---+------------+----------+----------------+-------------------------------------+-----------------------------------------+--------------------------------------------------------------+------------------------------------------+------------------------+----------------------+-------------------------------+---------------------+-----------------------------------------------+-----------------------------+----------+-------------------------------+----------------+-------+---------------------+---------------------+------------+----------------+-------------+--------------+------------+----------------+
|2019|  1|     3550308|   Capital|              55|                                   56|                                        0|                                                             0|                                        66|                       3|                    71|                              2|                 2565|                                           1106|                           89|         6|                              6|             214|     61|                  153|                10980|       10672|            1747|            1|           307|       17270|            2847|
+----+---+------------+----------+----------------+-------------------------------------+-----------------------------------------+--------------------------------------------------------------+------------------------------------------+------------------------+----------------------+-------------------------------+---------------------+-----------------------------------------------+-----------------------------+----------+-------------------------------+----------------+-------+---------------------+---------------------+------------+----------------+-------------+--------------+------------+----------------+

In [96]:
manter = df.columns[0:4]
outras_colunas = set(df.columns) - set(manter)

In [97]:
colunas_manter = manter
colunas_pivotar = list(outras_colunas)

In [98]:
len(colunas_pivotar)

23

In [99]:
from pyspark.sql import functions as F


unpivotExp = "stack(23, )"

In [100]:
colunas_manter

['ano', 'mes', 'id_municipio', 'regiao_ssp']

In [ ]:
colunas_pivotar

In [102]:
# Assuming your DataFrame is named 'df'
unpivotExp = ", ".join([f"'{col}', {col}" for col in colunas_pivotar])

In [103]:
df_unpivoted = df_filtrado.selectExpr(*colunas_manter, f"stack({len(colunas_pivotar)}, {unpivotExp}) as (indicador, valor)")

In [104]:
df_unpivoted.count()

23

In [105]:
df_unpivoted.orderBy(desc("valor")).show(20, truncate=False)

+----+---+------------+----------+-----------------------------------------------+-----+
|ano |mes|id_municipio|regiao_ssp|indicador                                      |valor|
+----+---+------------+----------+-----------------------------------------------+-----+
|2019|1  |3550308     |Capital   |furto_outros                                   |17270|
|2019|1  |3550308     |Capital   |total_de_roubo_outros                          |10980|
|2019|1  |3550308     |Capital   |roubo_outros                                   |10672|
|2019|1  |3550308     |Capital   |furto_de_veiculo                               |2847 |
|2019|1  |3550308     |Capital   |lesao_corporal_dolosa                          |2565 |
|2019|1  |3550308     |Capital   |roubo_de_veiculo                               |1747 |
|2019|1  |3550308     |Capital   |lesao_corporal_culposa_por_acidente_de_transito|1106 |
|2019|1  |3550308     |Capital   |roubo_de_carga                                 |307  |
|2019|1  |3550308     |Capital   |total_de_estupro                               |214  |
|2019|1  |3550308     |Capital   |estupro_de_vulneravel                          |153  |
|2019|1  |3550308     |Capital   |lesao_corporal_culposa_outras                  |89   |
|2019|1  |3550308     |Capital   |tentativa_de_homicidio                         |71   |
|2019|1  |3550308     |Capital   |homicidio_culposo_por_acidente_de_transito     |66   |
|2019|1  |3550308     |Capital   |estupro                                        |61   |
|2019|1  |3550308     |Capital   |numero_de_vitimas_em_homicidio_doloso          |56   |
|2019|1  |3550308     |Capital   |homicidio_doloso                               |55   |
|2019|1  |3550308     |Capital   |numero_de_vitimas_em_latrocinio                |6    |
|2019|1  |3550308     |Capital   |latrocinio                                     |6    |
|2019|1  |3550308     |Capital   |homicidio_culposo_outros                       |3    |
|2019|1  |3550308     |Capital   |lesao_corporal_seguida_de_morte                |2    |
+----+---+------------+----------+-----------------------------------------------+-----+
only showing top 20 rows