<a href="https://colab.research.google.com/github/Igorps023/SegurancaPublicaSSP/blob/main/eda_dados_abertos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# !pip install basedosdados # rode para instalar no Python/Jupyter
# import basedosdados as bd

In [ ]:
# # Para carregar o dado direto no pandas
# df = bd.read_table(dataset_id='br_sp_gov_ssp',
# table_id='ocorrencias_registradas',
# billing_project_id="174045002264")

Downloading: 100%|██████████| 153876/153876 [00:21<00:00, 7008.80rows/s]

In [ ]:
# # Caminho salvar arquivo
# file_path = '/content/dados_abertos_ssp_sp_1252.csv'

In [ ]:
# df.to_csv(file_path, index=False, encoding='1252')

# Pandas

In [ ]:
# import pandas as pd

In [ ]:
# df = pd.read_csv('/content/dados_ssp_sp.csv')

In [ ]:
# df.shape

In [ ]:
# df.columns

In [ ]:
# df = df.sort_values(by=['ano', 'mes', 'regiao_ssp', 'id_municipio'], ascending=[True, True, True, True])

In [ ]:
# df

,ano,mes,id_municipio,regiao_ssp,homicidio_doloso,numero_de_vitimas_em_homicidio_doloso,homicidio_doloso_por_acidente_de_transito,numero_de_vitimas_em_homicidio_doloso_por_acidente_de_transito,homicidio_culposo_por_acidente_de_transito,homicidio_culposo_outros,...,total_de_estupro,estupro,estupro_de_vulneravel,total_de_roubo_outros,roubo_outros,roubo_de_veiculo,roubo_a_banco,roubo_de_carga,furto_outros,furto_de_veiculo
7368,2002,1,3501103,Araçatuba,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,NaN,0.0,NaN,0.0,0.0,0.0,1.0,0.0
7248,2002,1,3502101,Araçatuba,1.0,1.0,0.0,0.0,1.0,0.0,...,0.0,NaN,NaN,3.0,NaN,0.0,0.0,0.0,78.0,0.0
7152,2002,1,3502804,Araçatuba,3.0,3.0,0.0,0.0,0.0,0.0,...,1.0,NaN,NaN,88.0,NaN,6.0,0.0,0.0,404.0,25.0
6960,2002,1,3504206,Araçatuba,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,NaN,1.0,NaN,0.0,0.0,0.0,3.0,1.0
6936,2002,1,3504404,Araçatuba,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,NaN,0.0,NaN,0.0,0.0,0.0,13.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108911,2021,12,3550704,São José dos Campos,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108719,2021,12,3552007,São José dos Campos,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108419,2021,12,3554102,São José dos Campos,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108311,2021,12,3554805,São José dos Campos,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108215,2021,12,3555406,São José dos Campos,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# filtro_df = df[ (df['ano'] == 2002) & (df['regiao_ssp'] == 'Araçatuba') & (df['id_municipio'] == 3501103)  ]

In [ ]:
# outras_colunas = filtro_df.columns[4:]
# outras_colunas

Index(['homicidio_doloso', 'numero_de_vitimas_em_homicidio_doloso',
       'homicidio_doloso_por_acidente_de_transito',
       'numero_de_vitimas_em_homicidio_doloso_por_acidente_de_transito',
       'homicidio_culposo_por_acidente_de_transito',
       'homicidio_culposo_outros', 'tentativa_de_homicidio',
       'lesao_corporal_seguida_de_morte', 'lesao_corporal_dolosa',
       'lesao_corporal_culposa_por_acidente_de_transito',
       'lesao_corporal_culposa_outras', 'latrocinio',
       'numero_de_vitimas_em_latrocinio', 'total_de_estupro', 'estupro',
       'estupro_de_vulneravel', 'total_de_roubo_outros', 'roubo_outros',
       'roubo_de_veiculo', 'roubo_a_banco', 'roubo_de_carga', 'furto_outros',
       'furto_de_veiculo'],
      dtype='object')

In [ ]:
# pivotar = filtro_df.melt(id_vars=['ano', 'mes', 'regiao_ssp','id_municipio'], var_name='crimes', value_vars='value' )
# pivotar.sort_values(by=['value'], ascending=[False])
# pivotar.shape

In [ ]:
# outras_colunas = filtro_df.columns[4:]
# melted_df = filtro_df.melt(id_vars=['ano', 'mes', 'regiao_ssp', 'id_municipio'], value_vars=outras_colunas, var_name='crime', value_name='value')
# melted_df.sort_values(by=['value'], ascending=[False], inplace=True)
# print(melted_df.shape)

(276, 6)

In [ ]:
# melted_df

      ano  mes regiao_ssp  id_municipio         crime  value
262  2002   11  Araçatuba       3501103  furto_outros    6.0
260  2002    9  Araçatuba       3501103  furto_outros    6.0
261  2002   10  Araçatuba       3501103  furto_outros    6.0
263  2002   12  Araçatuba       3501103  furto_outros    5.0
253  2002    2  Araçatuba       3501103  furto_outros    5.0
..    ...  ...        ...           ...           ...    ...
211  2002    8  Araçatuba       3501103  roubo_outros    NaN
212  2002    9  Araçatuba       3501103  roubo_outros    NaN
213  2002   10  Araçatuba       3501103  roubo_outros    NaN
214  2002   11  Araçatuba       3501103  roubo_outros    NaN
215  2002   12  Araçatuba       3501103  roubo_outros    NaN

[276 rows x 6 columns]

# PySpark

In [1]:
# Desmontar o Google Drive (se já estiver montado)
from google.colab import drive
drive.flush_and_unmount()

# Montar o Google Drive novamente
drive.mount('/content/drive')

Drive not mounted, so nothing to flush and unmount.
Mounted at /content/drive

In [2]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 3.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=3bc038e71b49872fbf07df733581ba82ba60c29105008940bce870fbfb0f206e
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [3]:
#importando bibliotecas
import os
import sys
import pytz
import numpy as np
import datetime
import time
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext
from pyspark.sql.functions import *
from datetime import datetime
from datetime import timedelta
from datetime import date
from dateutil.relativedelta import relativedelta
from pyspark.sql.types import *
from pyspark.sql.functions import count, avg, col, expr, regexp_replace, array, explode, asc, desc, min,avg,max,sum,count,stddev, to_date

In [4]:
spark = SparkSession.builder.appName("SSP").getOrCreate()

In [5]:
spark

In [6]:
#funcao freq
def Freq(pTabela,pColuna):

    qtd_total=pTabela.count()

    pTabela.registerTempTable("tab_input")
    frq = spark.sql(
            """
                select
                    {col},
                    count(*) as qtd_absoluto,
                    round(100*(count(*) / {tot}),2) as qtd_percentual
                from
                    tab_input
                group by
                    {col}
                order by
                    qtd_percentual DESC, {col}
            """.format(col=pColuna, tot=qtd_total))

    qtd=frq.count()
    print('Quantidade de dominios',qtd)
    if qtd > 500:
        frq.show(1000,truncate=False)
        return "Dominio muito granular"

    else:
        frq.show(qtd,truncate=False)
        print("volumetria total:",qtd_total)
        return 'Freq da coluna ' + pColuna;

In [7]:
### MOD_PER_FILE
file_1 = "dados_ssp_sp.csv"

In [8]:
full_path_raw_1 = file_1

In [9]:
df = os.path.join(full_path_raw_1)
df = spark.read.format("csv").load(df, header=True, inferSchema=True, sep=",")
df.registerTempTable("df")
df.count()

AnalysisException: ignored

In [ ]:
df.show(4)

In [ ]:
from pyspark.sql.functions import concat, col, to_date, lit, lpad

# Assuming "ano" and "mes" are integer columns
df = df.withColumn(
    "mes",
    lpad(col("mes").cast("string"), 2, "0")
)

# Coluna de yyyymm
df = df.withColumn("yyyymm", concat(col("ano"), col("mes") ) )


# Reordenar Coluna
reordem = ["yyyymm"] + df.columns[:-1]
reordem

# Ordem Dataframe
df = df.select(reordem)

In [ ]:
# # Verificando dominios
# df.select("yyyymm", "ano", "mes").distinct() \
#   .orderBy( asc("yyyymm") ) \
#   .show(5)

+------+----+---+
|yyyymm| ano|mes|
+------+----+---+
|200201|2002| 01|
|200202|2002| 02|
|200203|2002| 03|
|200204|2002| 04|
|200205|2002| 05|
+------+----+---+
only showing top 5 rows

In [ ]:
#Testes Filtros
df_filtrado = df.filter( (col("ano") == 2019) & (col("regiao_ssp") == "Capital") )#& (col("mes") == 1) )

# & (col("id_municipio") == "3501103") )

In [ ]:
df_filtrado.count()

12

In [ ]:
df_filtrado.show(12)

+------+------+----+---+------------+----------+----------------+-------------------------------------+-----------------------------------------+--------------------------------------------------------------+------------------------------------------+------------------------+----------------------+-------------------------------+---------------------+-----------------------------------------------+-----------------------------+----------+-------------------------------+----------------+-------+---------------------+---------------------+------------+----------------+-------------+--------------+------------+
|yyyymm|yyyymm| ano|mes|id_municipio|regiao_ssp|homicidio_doloso|numero_de_vitimas_em_homicidio_doloso|homicidio_doloso_por_acidente_de_transito|numero_de_vitimas_em_homicidio_doloso_por_acidente_de_transito|homicidio_culposo_por_acidente_de_transito|homicidio_culposo_outros|tentativa_de_homicidio|lesao_corporal_seguida_de_morte|lesao_corporal_dolosa|lesao_corporal_culposa_por_acidente_de_transito|lesao_corporal_culposa_outras|latrocinio|numero_de_vitimas_em_latrocinio|total_de_estupro|estupro|estupro_de_vulneravel|total_de_roubo_outros|roubo_outros|roubo_de_veiculo|roubo_a_banco|roubo_de_carga|furto_outros|
+------+------+----+---+------------+----------+----------------+-------------------------------------+-----------------------------------------+--------------------------------------------------------------+------------------------------------------+------------------------+----------------------+-------------------------------+---------------------+-----------------------------------------------+-----------------------------+----------+-------------------------------+----------------+-------+---------------------+---------------------+------------+----------------+-------------+--------------+------------+
|201901|201901|2019| 01|     3550308|   Capital|              55|                                   56|                                        0|                                                             0|                                        66|                       3|                    71|                              2|                 2565|                                           1106|                           89|         6|                              6|             214|     61|                  153|                10980|       10672|            1747|            1|           307|       17270|
|201902|201902|2019| 02|     3550308|   Capital|              48|                                   48|                                        0|                                                             0|                                        31|                       4|                    57|                              2|                 2495|                                            988|                           98|         4|                              5|             186|     67|                  119|                10206|        9948|            1585|            1|           257|       19468|
|201903|201903|2019| 03|     3550308|   Capital|              75|                                   85|                                        0|                                                             0|                                        31|                       0|                    64|                              0|                 2662|                                           1170|                           97|         3|                              3|             238|     72|                  166|                11810|       11509|            1796|            2|           299|       23693|
|201904|201904|2019| 04|     3550308|   Capital|              59|                                   59|                                        0|                                                             0|                                        22|                       0|                    69|                              1|                 2793|                                           1255|                          172|         3|                              3|             229|     60|                  169|                11141|       10844|            1865|            1|           296|       18730|
|201905|201905|2019| 05|     3550308|   Capital|              45|                                   50|                                        0|                                                             0|                                        47|                       1|                    67|                              1|                 2429|                                           1285|                          104|         7|                              7|             199|     58|                  141|                11547|       11263|            1914|            1|           283|       20480|
|201906|201906|2019| 06|     3550308|   Capital|              46|                                   48|                                        1|                                                             1|                                        30|                       1|                    55|                              3|                 2270|                                           1156|                           99|         8|                              8|             177|     59|                  118|                12486|       12185|            1802|            2|           299|       19312|
|201907|201907|2019| 07|     3550308|   Capital|              53|                                   55|                                        2|                                                             2|                                        34|                       4|                    57|                              0|                 2305|                                           1229|                           94|         3|                              3|             198|     47|                  151|                12019|       11667|            1688|            2|           350|       17946|
|201908|201908|2019| 08|     3550308|   Capital|              40|                                   42|                                        0|                                                             0|                                        38|                       1|                    60|                              2|                 2283|                                           1238|                           87|         3|                              4|             209|     55|                  154|                12258|       11945|            1616|            1|           312|       18647|
|201909|201909|2019| 09|     3550308|   Capital|              52|                                   57|                                        0|                                                             0|                                        26|                       2|                    67|                              2|                 2389|                                           1122|                          103|         8|                              8|             253|     77|                  176|                11540|       11283|            1525|            0|           257|       17166|
|201910|201910|2019| 10|     3550308|   Capital|              62|                                   66|                                        0|                                                             0|                                        36|                       1|                    56|                              3|                 2618|                                           1356|                          131|         2|                              2|             302|     84|                  218|                12485|       12134|            1772|            1|           350|       18952|
|201911|201911|2019| 11|     3550308|   Capital|              62|                                   63|                                        0|                                                             0|                                        28|                       4|                    66|                              2|                 2527|                                           1161|                          111|         2|                              2|             248|     71|                  177|                12274|       11956|            1858|            1|           317|       17955|
|201912|201912|2019| 12|     3550308|   Capital|              53|                                   56|                                        0|                                                             0|                                        32|                       3|                    57|                              4|                 2528|                                           1080|                          134|        15|                             15|             210|     61|                  149|                12388|       11963|            2061|            0|           425|       16947|
+------+------+----+---+------------+----------+----------------+-------------------------------------+-----------------------------------------+--------------------------------------------------------------+------------------------------------------+------------------------+----------------------+-------------------------------+---------------------+-----------------------------------------------+-----------------------------+----------+-------------------------------+----------------+-------+---------------------+---------------------+------------+----------------+-------------+--------------+------------+

In [ ]:
manter = df.columns[0:5]
outras_colunas = set(df.columns) - set(manter)

In [ ]:
colunas_manter = manter
colunas_pivotar = list(outras_colunas)

In [ ]:
len(colunas_pivotar)

23

In [ ]:
colunas_manter

['yyyymm', 'ano', 'mes', 'id_municipio', 'regiao_ssp']

In [ ]:
colunas_pivotar

['roubo_de_veiculo',
 'numero_de_vitimas_em_homicidio_doloso',
 'homicidio_culposo_por_acidente_de_transito',
 'roubo_outros',
 'numero_de_vitimas_em_latrocinio',
 'homicidio_doloso',
 'furto_outros',
 'lesao_corporal_culposa_por_acidente_de_transito',
 'numero_de_vitimas_em_homicidio_doloso_por_acidente_de_transito',
 'homicidio_culposo_outros',
 'total_de_roubo_outros',
 'lesao_corporal_seguida_de_morte',
 'total_de_estupro',
 'estupro_de_vulneravel',
 'tentativa_de_homicidio',
 'estupro',
 'roubo_de_carga',
 'homicidio_doloso_por_acidente_de_transito',
 'furto_de_veiculo',
 'lesao_corporal_dolosa',
 'latrocinio',
 'lesao_corporal_culposa_outras',
 'roubo_a_banco']

In [ ]:
# Assuming your DataFrame is named 'df'
unpivotExp = ", ".join([f"'{col}', {col}" for col in colunas_pivotar])

In [ ]:
unpivotExp

"'roubo_de_veiculo', roubo_de_veiculo, 'numero_de_vitimas_em_homicidio_doloso', numero_de_vitimas_em_homicidio_doloso, 'homicidio_culposo_por_acidente_de_transito', homicidio_culposo_por_acidente_de_transito, 'roubo_outros', roubo_outros, 'numero_de_vitimas_em_latrocinio', numero_de_vitimas_em_latrocinio, 'homicidio_doloso', homicidio_doloso, 'furto_outros', furto_outros, 'lesao_corporal_culposa_por_acidente_de_transito', lesao_corporal_culposa_por_acidente_de_transito, 'numero_de_vitimas_em_homicidio_doloso_por_acidente_de_transito', numero_de_vitimas_em_homicidio_doloso_por_acidente_de_transito, 'homicidio_culposo_outros', homicidio_culposo_outros, 'total_de_roubo_outros', total_de_roubo_outros, 'lesao_corporal_seguida_de_morte', lesao_corporal_seguida_de_morte, 'total_de_estupro', total_de_estupro, 'estupro_de_vulneravel', estupro_de_vulneravel, 'tentativa_de_homicidio', tentativa_de_homicidio, 'estupro', estupro, 'roubo_de_carga', roubo_de_carga, 'homicidio_doloso_por_acidente_de_transito', homicidio_doloso_por_acidente_de_transito, 'furto_de_veiculo', furto_de_veiculo, 'lesao_corporal_dolosa', lesao_corporal_dolosa, 'latrocinio', latrocinio, 'lesao_corporal_culposa_outras', lesao_corporal_culposa_outras, 'roubo_a_banco', roubo_a_banco"

In [ ]:
len(colunas_pivotar)

23

In [ ]:
df_unpivoted = df.selectExpr(*colunas_manter, f"stack({len(colunas_pivotar)}, {unpivotExp}) as (indicador, valor)")

In [ ]:
df_unpivoted.count()

3539148

In [ ]:
# Furtos é a modalidade de ocorrência com maior registros realizados durante toda a série histórica
# Vale ressaltar que para aprimorar essa análise, faria sentido o indicador ocorrências p/ cada 100 mil habitantes da região
# Permitindo uma análise condizente entre os municípios, dado que a Capital apresenta, em nºs absolutos, a maior incidência de crimes

df_unpivoted.orderBy( desc("valor"), asc("ano"), asc("mes") ).show(10, truncate=False)

+------+----+---+------------+----------+------------+-----+
|yyyymm|ano |mes|id_municipio|regiao_ssp|indicador   |valor|
+------+----+---+------------+----------+------------+-----+
|20202 |2020|2  |3550308     |Capital   |furto_outros|25063|
|20193 |2019|3  |3550308     |Capital   |furto_outros|23693|
|20182 |2018|2  |3550308     |Capital   |furto_outros|22852|
|20195 |2019|5  |3550308     |Capital   |furto_outros|20480|
|20192 |2019|2  |3550308     |Capital   |furto_outros|19468|
|20196 |2019|6  |3550308     |Capital   |furto_outros|19312|
|201910|2019|10 |3550308     |Capital   |furto_outros|18952|
|20194 |2019|4  |3550308     |Capital   |furto_outros|18730|
|20198 |2019|8  |3550308     |Capital   |furto_outros|18647|
|20201 |2020|1  |3550308     |Capital   |furto_outros|18593|
+------+----+---+------------+----------+------------+-----+
only showing top 10 rows

In [ ]:
# Save File
path = f"/content/drive/MyDrive/Dados_SSP_SP/Parquet_Files"
df_unpivoted.coalesce(1) \
  .write \
  .partitionBy("yyyymm") \
  .parquet(path, mode="overwrite")

In [ ]:
#End